route:
  receiver: slack_default
  group_by: [alertname, service]
  group_wait: 10s
  group_interval: 2m
  repeat_interval: 3h
  routes:
    - matchers: [ service="logops" ]
      receiver: slack_logops

receivers:
  - name: slack_default
    slack_configs:
      - send_resolved: true
        api_url: ${ALERTMANAGER_SLACK_WEBHOOK}
        title: "[{{ .Status | toUpper }}] {{ .CommonLabels.alertname }}"
        text: >-
          *Service:* {{ or .CommonLabels.service "unknown" }}
          *Severity:* {{ or .CommonLabels.severity "unknown" }}
          *Summary:* {{ .CommonAnnotations.summary }}
          *Desc:* {{ .CommonAnnotations.description }}

  - name: slack_logops
    slack_configs:
      - send_resolved: true
        api_url: ${ALERTMANAGER_SLACK_WEBHOOK_LOGOPS}
        title: "[{{ .Status | toUpper }}][LogOps] {{ .CommonLabels.alertname }}"
        text: >-
          *Severity:* {{ or .CommonLabels.severity "unknown" }}
          *Summary:* {{ .CommonAnnotations.summary }}
          *Desc:* {{ .CommonAnnotations.description }}
