apiVersion: 1
datasources:
  - name: Prometheus
    uid: PROMDS
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false

  - name: Loki
    uid: LOKIDS
    type: loki
    access: proxy
    url: http://loki:3100
    editable: false
